$black: #1e3034;
$black-50: #eff4f6;
$primary: #83a26a;
$primary-50: #f2f5ef;
$red: #d56262;
$red-50: #faebeb;
$white-50: #ffffff;

$additional-color-variants: 9;
$additional-color-variant-step: 100;
$additional-color-variant-percent: 10;

:root,
.reset-theme,
body[data-theme='dark'] .revert-theme {
  --black-original-50: #{$black-50};
  --primary-original-50: #{$primary-50};
  --red-original-50: #{$red-50};
  --white-original-50: #{$white-50};

  @for $i from 1 through $additional-color-variants {
    $step: $i * $additional-color-variant-step;
    $percent: $i * $additional-color-variant-percent;

    @if $i != 9 {
      --black-original-#{$step}: #{darken($black-50, $percent)};
    }
    @if $i != 4 {
      --primary-original-#{$step}: #{darken($primary-50, $percent)};
    }
    @if $i != 4 {
      --red-original-#{$step}: #{darken($red-50, $percent)};
    }
    --white-original-#{$step}: #{darken($white-50, $percent)};
  }

  --black-original-900: #{$black};
  --black-original: var(--black-original-900);
  --primary-original-400: #{$primary};
  --primary-original: var(--primary-original-400);
  --red-original-400: #{$red};
  --red-original: var(--red-original-400);
  --white-original: var(--white-original-50);

  @for $i from 1 through $additional-color-variants {
    $step: $i * $additional-color-variant-step;

    --black-#{$step}: var(--black-original-#{$step});
    --primary-#{$step}: var(--primary-original-#{$step});
    --red-#{$step}: var(--red-original-#{$step});
    --white-#{$step}: var(--white-original-#{$step});
  }

  --black: var(--black-900);
  --primary: var(--primary-400);
  --red: var(--red-400);
  --white: var(--white-original-50);
}

body[data-theme='dark'],
body[data-theme='dark'] .reset-theme,
.revert-theme {
  @for $i from 1 through $additional-color-variants {
    $step: $i * $additional-color-variant-step;

    --black-#{$step}: var(--black-original-#{1000 - $step});
    --primary-#{$step}: var(--primary-original-#{1000 - $step});
    --red-#{$step}: var(--red-original-#{1000 - $step});
    --white-#{$step}: var(--white-original-#{1000 - $step});
  }

  --black: var(--black-900);
  --primary: var(--primary-400);
  --red: var(--red-400);
  --white: var(--white-100);
}
